[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
spotipy = "*"
pandas = "*"
plotly = "*"
sklearn = "*"
joblib = "*"

[dev-packages]

[requires]
python_version = "3.8"
